<!DOCTYPE html>
<html lang="en">


<head>
<div th:replace="user/layout::head('Quên mật khẩu')"></div>
</head>

<body>
	<div th:replace="user/layout::header"></div>


	<div class="main">
		<div class="container">
			<div class="login">
				<div class="title center mt-3 mb-3">Quên mật khẩu</div>
				<div class="center mt-3 mb-1"
					th:if="${param['email'] != null && param['success'] != null}">
					<span th:text="'Mật khẩu mới đã được gửi vào email '"></span> <b
						th:text="${param['email']}"></b>
				</div>
				<div class="center mb-3"
					th:if="${param['email'] != null && param['success'] != null}">
					<span>Email có hiệu lực trong vòng </span> <b>15 phút</b>
				</div>
				<div class="center mb-3" th:if="${param['active-success'] != null}">
					<span>Kích hoạt mật khẩu mới thành công</span>
				</div>
				<div class="center mb-3" th:if="${param['active-fail'] != null}">
					<span>Kích hoạt mật khẩu thất bại</span>
				</div>
				<div class="login-form">
					<form th:action="@{/quen-mat-khau}" method="post">
						<div class="form-group mb-3">
							<label class="form-label" for="email">Email</label> <input
								type="text" class="form-control" id="email" name="email"
								placeholder="Email" th:value="${email}">
							<div class="invalid-feedback d-block"
								th:if="${message != null}" th:text="${message}"></div>
						</div>
						<div class="row">
							<div class="col text-center">
								<button class="px-5">Gửi mật khẩu mới</button>
							</div>
						</div>
						<div class="row">
							<div class="col text-center mt-3">
								<span>Quay lại <a th:href="@{/dang-nhap}"><u>Đăng
											nhập</u></a></span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="user/layout::footer"></div>
</body>

</html>