<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
	<div th:replace="user/layout::head('Đăng ký')"></div>
</head>

<body>
	<div th:replace="user/layout::header"></div>


	<div class="main">
		<div class="container">
			<div class="login">
				<div class="title center mt-3 mb-3">
					Đăng ký
				</div>
				<div class="login-form">
					<form th:object="${user}" method="post" th:action="@{/dang-ky}">
						<div class="form-group mb-3">
							<label class="form-label" for="username">Email</label>
							<input type="text" class="form-control" id="email" placeholder="Email" th:field="*{email}">
							<div class="invalid-feedback d-block" th:if="${#fields.hasErrors('email')}"
								th:errors="*{email}"></div>
						</div>
						<div class="form-group mb-3">
							<label class="form-label" for="fullname">Họ tên</label>
							<input type="text" class="form-control" id="fullname" th:field="*{fullname}"
								placeholder="Họ tên">
							<p class="invalid-feedback d-block" th:if="${#fields.hasErrors('fullname')}"
								th:errors="*{fullname}">
						</div>
						<div class="form-group mb-3">
							<label class="form-label" for="password">Mật khẩu</label>
							<input type="password" class="form-control" id="password" th:field="*{password}"
								placeholder="Mật khẩu">
							<p class="invalid-feedback d-block" th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}">

						</div>
						<div class="row">
							<div class="col text-center">
								<button type="submit" class="px-5">Đăng ký</button>
							</div>
						</div>
						<div class="row">
							<div class="col text-center mt-3">
								<span>Quay lại <a th:href="@{/dang-nhap}"><u>Đăng nhập</u></a></span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="user/layout::footer"></div>

</body>

</html>