<!DOCTYPE html>
<html lang="en">


<head>
<div th:replace="user/layout::head('Error')"></div>
</head>

<body class="error-body">
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="error-template">
						<h2 class="text-lg">Có lỗi xảy ra</h2>
						<div class="error-actions mt-5">
							<a th:href="@{/}" class="btn btn-primary"><i
								class="far fa-home"></i></span>&nbsp;Quay lại trang chủ</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>